/*
Generic
*/

.clear:after {
    content: "";
    display: table;
    clear: both;
}

.unstyled {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.horizontal:after, .clear:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
ul.horizontal > li {
    float: left;
    padding: 3px 1%;
}
ul.horizontal > li.right {
    float: right;
}
ul.horizontal > li:first-child {
    padding-left: 0;
}
ul.horizontal > li:last-child {
    padding-right: 0;
}

/*
Primary Nav
*/
.nav-primary .primary a {
    line-height: 54px;
    height: 54px;
    display: block;
}

nav.primary a {
    color: #000;
    display: block;
    font: bold italic 30px arial;
    letter-spacing: -2px;
    padding: 0;
}

nav.primary a.icon {
    display: inline;
}

/*
Secondary Nav
*/
nav.secondary {
    font: bold 1.2em/1.5 arial;
    border-bottom: 1px solid #EC6B25;
}


nav.secondary li:hover, nav.secondary li.active {
    background: #EC6B25;
}

nav.secondary li:hover a, nav.secondary li.active a{
    color: #ffffff;
}


.contact-bar > li:not(:last-child) {
    border-right: 1px #fff solid;
}

@media (max-width: 599px) {
    .nav-primary {
        display: none;
    }
}

@media (min-width: 600px) {
    .nav-mobile {
        display: none;
    }
}

@media (max-width: 959px) {
    nav.primary li  {
        text-align: center;
        width: 32%;
    }
}