body,
html {
    font: 12px arial;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

.left { float:left; }
.right { float: right; }

.contact-bar {
    font: bold italic 1.85em/1.5em Arial;
}

.logo-bar {
    padding: 5px 0;
    text-align: center;
}

.palette-highlight {
    background: #ec6b25;
    color: #fff;
}

.palette-highlight a {
    color: #fff;
}

.phone-number-block {
    display: inline-block;
    margin: 4px 3px 0 0;
    font-size: 20px;
    text-align: right;
}

.ad1 {
    position: relative;
    padding-bottom: 20px;
}
.ad1 .img {
    width: 60%;
    padding-right: 5%;
    float: left;
}

.ad1 .img img {
    width: 100%;
}

.ad1 .caption {
    bottom: 5px;
    position: absolute;
    text-align: center;
    font: bold italic 24px arial;
    letter-spacing: -2px;
    width: 30%;
    float: right
}

.legal-bar {
    line-height: 25px;
}

.orange-block {
    display: inline-block;
    text-align: center;
    width: 170px;
}

.splash {
    color: #ffffff;
}

.splash a {
    color: #ffffff;
}

.splash > ul {
    float:left;
    width: 30%;
}

.splash > ul > li {
    background: #ec6b25;
    padding:10px 2.5%;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.splash p {
    font: inherit;
    margin-bottom: 3px;
}

.splash a {
    text-decoration: underline;
}

.splash .right {
    width: 70%;
}

.mini-link {
    font: lighter italic .75em arial;
}

.width-container {
    margin: auto;
    max-width: 920px;
}


@media (max-width: 599px) {
    .width-container {
        width: 320px;
    }
    .show-med,.show-med-only {
        display: none;
    }
}


@media (max-width: 959px) {
    .show-lg, .show-lg-only {
        display: none;
    }
}

@media (min-width: 960px) {
    .show-med-only {
        display: none;
    }
}

