RewriteEngine On    # Turn on the rewriting engine
RewriteRule    ^about-tread-setters-tires|knowledge|scrap-tire-hauling|privacy-policy|why-tread-setters-tires|contact-successful/?$    content.php    [NC,L]
RewriteRule    ^contact-tread-setters-tires/?$    contact.php    [NC,L]
RewriteRule    ^schedule-an-appointment/?$    appointment.php    [NC,L]
RewriteRule    ^submit-contact/?$    submit-contact.php    [NC,L]
RewriteRule    ^buy-used-tires|buy-new-tires|buy-rims/?$    buy.php    [NC,L]
RewriteRule    ^tire-(deals|sales)|tread-setters-deals/?$    deals.php    [NC,L]
RewriteRule    ^tire-(balancing|mounting|recycling|repair)/?$    content.php    [NC,L]
